POSTGRES_USER=paTOS
POSTGRES_PASSWORD=paTOrestaurante!1
POSTGRES_DB=restauranteDB
POSTGRES_PORT=5432
PG_DATA=/var/lib/postgresql/18/docker
PG_VOLUME=/var/lib/postgresql
APP_PORT=2000
APP_DB_HOST=db
KEYCLOAK_ADMIN_USERNAME=paTOS
KEYCLOAK_ADMIN_PASSWORD=paTOS
KEYCLOAK_HOSTNAME=keycloak
KEYCLOAK_PORT=8080